body{
  margin: 0 !important;
  color:rgba(0, 0, 0, 0.74);
}

body:after{
	content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
	border-top:28px solid #002FA7; /*Bleu de Klein*/
	z-index: 5;
  pointer-events: none;
  font-family: Tahoma, Verdana, Segoe, sans-serif;

}


@media (min-width: 40rem) {
	body:after{
    border-top: none;
		box-shadow: inset 24px 24px #002FA7, inset -24px -24px #002FA7; /*Bleu de Klein*/
	}
}

/*-----------NAV---------*/

nav{
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10;
    position: fixed;
}

nav h1 {
    font-size: 13px;
    letter-spacing: 0.4em;
    line-height: 16px;
    display: inline-block;
    margin: 8px;
    word-spacing: 1em;
    color: white;
    border: 0;
    text-decoration: none;
    cursor: pointer;
}



@media (min-width: 40rem) {
  nav h1{
    font-size: 16px;
    margin: 0.3em;
  }
}



.texte{
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 12px;
  text-align: justify;
  line-height: 20px;
  color:rgba(0, 0, 0, 0.74);
  padding-left: 15px;
  padding-right: 15px;
}

.last_p{
  margin-bottom: 25px;
}
/*
.wrap{
  position: absolute;
  top: 50%; left: 55%; 
  transform: translate(-50%, -50%);
}  

.wrap > * {
    max-height: 45vh;
}

@media (min-width: 40rem) {
  .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .wrap p{
    font-size: 14px;
    line-height: 22px;
  }
  .wrap > :first-child {
    width: 55%;
  }
  .wrap > :last-child {
    width: 40em;
  }
}*/

.texte h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
}

.container{
  margin-top: 3em;
  text-align: center;
}

@media (min-width: 40rem) {
  .container{
    margin-top: 12em;
  }
}

.col{
  margin-left: 0em !important;
  margin-right: 0em !important;
}


@media(min-width: 40rem){
  .row{
    margin-right: 5em !important;
    margin-left: 5em !important;
  }
}
.texte p{
  font-size: 13px;
  line-height: 22px;
}
