body{
	margin: 0 !important;
	/*line-height: 20px;*/
	color:rgba(0, 0, 0, 0.74);
}

body:after{
	content: "";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	box-shadow: inset 16px 30px #002FA7, inset -16px -16px #002FA7; /*Bleu de Klein*/
	border-top:0.5em solid #002FA7;
	z-index: 5;
    pointer-events: none;
}

@media (min-width: 40rem) {
	body:after{
		border-top:none;
		box-shadow: inset 24px 24px #002FA7, inset -24px -24px #002FA7; /*Bleu de Klein*/
	}
}

/*-----------NAV---------*/

nav{
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10;
	position: fixed;
}

nav h1 {
    font-size: 13px;
    letter-spacing: 0.4em;
    line-height: 16px;
    display: inline-block;
	/*margin: 0;*/
	word-spacing: 1em;
    color: white;
    border: 0;
	text-decoration: none;
	cursor: pointer;
}



@media (min-width: 40rem) {
	nav h1{
		font-size: 16px;
		margin: 0.3em;
	}
}

.listeProjets{
	display: none;
}

@media (min-width: 75rem) {
	.listeProjets{
		display: block;
		position: absolute;
		margin-top: 17em;
		margin-left: 9%;
		font-style: italic;
	}

	.listeProjets a{
		color: black;
		border: 0;
		font-size: 0.9vw;
		cursor: pointer;
		letter-spacing: 0.1em;
		font-family: Tahoma, Verdana, Segoe, sans-serif;
	}
}
/*---------MENU HAMBURGER----*/


#menuToggle
{
  display: block;
  position: relative;
  top: -30px;
    left: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #002FA7;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white; /*#002FA7;*/
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
			  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
			  opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 *let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * The last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 200px;
  margin: -59px 0 0 -50px;
  padding: 50px;
  padding-top: 80px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}


@media (min-width: 75rem) {
   #menuToggle{
	   display:none;
   }
}

/*---------MOTIF MILIEU-----*/

.container a{
	text-decoration: none;
}
/*--
.img{
	position: absolute;
	top: 100%; left: 50%; 
	transform: translate(-50%, -50%);
	width: 100%;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	line-height: 20px;
	justify-content: start;
	text-align: center;
} 

.arrow{
	width:20px;
}

.logo{
	margin-bottom: 0.5em;
	width:100%;
}

.img h1{
	font-family: Brush Script MT, Brush Script Std, cursive;
}
.more{
	font-size: 13px;
}*/

.rect1, .rect2, .rect3, .rect4, .rect1b, .rect2b{
	display: none;
}

  @media (min-width: 40rem) {

		.img{
			display:none;
		}	
		
		.rect1, .rect2, .rect3, .rect4, .rect1b, .rect2b{
			display: block;
		}
		/*
		.rect1, .rect2, .rect3, .rect4{
			border: 0.313em solid grey;
			position: absolute;
			z-index: 3;
		}

		.rect1, .rect2{
			background-color: rgb(255,255,255,0.7);
			width: 17.500em;
			height: 2.188em;
			line-height: 2.188em;
		}

		.rect1{
			left: 34.625em;
			top: 24.125em;
		}

		.rect2{
			left: 50.063em;
			top: 21.625em;
		}

		.rect3, .rect4{
			background-color: rgb(0,0,255,0.9);
			width: 2.188em;
			height: 17.500em;
		}

		.rect3{
			left: 50.000em;
			top: 8.750em; 
		}

		.rect4{
			left: 47.500em;
			top: 21.625em; 
		}

		.rect1b, .rect2b{
			position: absolute;
			z-index: 2;
		}

		.rect1b{
			left: 25%;
			top: 24.250em; 	
		}

		.rect2b{
			right: 20%;
			top: 21.550em; 
		}

		.clelie_2, .chassignet_2, .clelie, .chassignet{
			color: black;
			margin:auto;
		}

		.clelie, .chassignet{
			letter-spacing: 0.313em;
		}

		.clelie_2, .chassignet_2{
			letter-spacing: 0.438em;	
		}

		.clelie{
			text-align: left;
			margin-left: 1em;
		}

		.chassignet{
			text-align: right;
			margin-right: 1em;
		}

		.rect1:hover, .rect2:hover{
			opacity: 0;
		}
*/

		.container{
			width: 100%;
			height:auto;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			position: relative;
		}

		.rect1, .rect4, .rect3, .rect2{
			position: absolute;
			border: 0.313em solid grey;
		}

		.rect1, .rect2{
			/*horizontal*/
			background-color: rgb(255,255,255,0.7);
			width: 17.500em;
			height: 2.188em;
			z-index: 2;
		}

		.rect1{
			margin-left: -12.8em;
		}

		/*pour mozilla firefox*/
		@-moz-document url-prefix()  
		{
			.rect1{
				margin-left: -16.5em;
				margin-top: 2.3em;
			}
		}

		.rect2{
			margin-top: -4.5em;
    		margin-left: 17.9em;
		}

		@-moz-document url-prefix()  
		{
			.rect2{
				margin-top: -3.1em;
				margin-left: 20em;	
			}
		}

		.rect3, .rect4{
			/*vertical*/
			background-color: #002FA7;
			width: 2.188em;
			height: 17.500em;
			z-index: 3;
		}

		.rect3{
			margin-top: 10.8em;
			margin-left:-2.5em;
		}

		@-moz-document url-prefix()  
		{
			.rect3{
				margin-top: 12em;
				margin-left: -2.6em;
			}
		}

		.rect4{
			margin-left: 2.5em;
    		margin-top: -15em;
		}

		@-moz-document url-prefix()  
		{
			.rect4{
				margin-left: 2.5em;
				margin-top: -13em;
			}
		}

		.rect1b, .rect2b{
			position: absolute;
			z-index: 2;
		}

		.rect1b{
			margin-left: -20em; 	
		}

		@-moz-document url-prefix()  
		{
			.rect1b{
				margin-left: -30em;
				margin-top: 2em;
			}
		}

		.rect2b{
			margin-top: -2.3em;
			margin-left: 26em;
		}

		@-moz-document url-prefix()  
		{
			.rect2b{
				margin-left: 33em;
				margin-top: -3.2em;
			}
		}

		.clelie, .clelie_2, .chassignet, .chassignet_2{
			color: black;
			margin:auto;
		}

		.clelie, .chassignet{
			letter-spacing: 0.313em;
		}

		.clelie_2, .chassignet_2{
			letter-spacing: 0.438em;	
		}

		.clelie{
			text-align: left;
			margin-left: 1em;
			margin-top: 0.3em;
		}

		.chassignet{
			text-align: right;
			margin-right: 1em;
			margin-top: 0.3em;
		}

		.rect1:hover, .rect2:hover{
			opacity: 0;
		}

}
/*---------LIENS CÔTES-----*/

.infos, .menu, .projets{
	display: none;
}

.img a, .img_section a{
	color: black;
	border: 0;
	text-decoration: none;
	cursor: pointer;
	font-size: 1em;
	margin: 0 0.5em 0 0.5em;
}

.arrowScreen{
	width: 20px;
	transform-origin: bottom left;
	margin-left:3em;
	margin-bottom: 1em;
	bottom: 6%;
	right:15%;
	display: block;
	align-items: center;
	text-align: center;
	position: absolute;
}




@media (min-width: 40rem) {

	.img_section a{
		font-size: 1em;
	}
	.infos, .menu, .projets{
		display: block;
		align-items: center;
		text-align: center;
		position: absolute;
	}

	.infos{
		transform: rotate(-90deg) translateX(-50%);
		transform-origin: top left;
		margin-left:0.25em;
		margin-top: 23em;
		left: 0;
	}

	.infos a:hover {
		color: grey;
	  }

	.menu{
		transform: rotate(90deg) translateX(50%);
		transform-origin: top right;
		margin-right: 0.25em;
		margin-top: 23em;
		right: 0;
	}

	.menu a:hover {
		color: grey;
	  }

	.infos a, .menu a, .projets a{
		letter-spacing: 0.2em;
        color: white;
		border: 0;
		text-decoration: none;
		cursor: pointer;
		font-size: 16px;
		margin: 0 1em 0 1em;
	}

	.projets{
		position: absolute;
		bottom: 0;
		text-align: center;
		width: 100%;
		z-index: 10;
		position: fixed;
		height: 2.8em;
	}

	.projets a{
		display: inline-block;
		letter-spacing: 0.1em;
		font-size: 18px;
	}

	.projets a:hover {
		color: grey;
	  }
	
	.downArrow{
		background: url(../Images/whiteArrow.svg);
		background-repeat: no-repeat;
	   width: 2em;
	   height: 1em;
	}
	  

	.titre, .tirets{
		margin: 0.5em 0 0.5em 0;
		padding:0;
		letter-spacing: 0.2em;
		pointer-events: none;
	}

	.CV, .titre, .tirets {
		z-index: 101;
		display:inline-block;
		margin:0;
	}

	.CV{
		margin-left: 1em;
		font-size: 16px;
	}
	.CV a{
		padding:0;
		margin: 0;
		letter-spacing: 0.1em;
		font-size: 16px;
	}
}

/* ----------- Sections -----------*/


.img_section{
	text-align: center;
	margin: 2em;
}

.img_section h1, h3{
	text-align: center;
}


.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	text-align: center;
}

.video-container iframe,  
.video-container object,  
.video-container embed,
.video-container video  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

.video-wrapper {
	max-width: 672px;
	margin: auto;
	
}


.texte{
	padding: 0 1.5em 0 1.5em;
}

@media (min-width: 40rem){
	.video-wrapper{
		padding: 2em 0 2em 0;
	}
	.texte{
		max-height: 45vh;
		width: 40em;
		margin:auto;
	}
}

.texte h3{
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 14px;
  	line-height: 24px;
	margin-top: 0px;
}

@media (max-width: 40rem) {
	.img_section h3{
		font-size: 14px;
	}

.section,
.section .fp-slide,
.section .fp-tableCell{
    height: auto !important;
}
}

